header{
 padding: 10px;
  background-color: #e86f67
}
.font_color{
  color: #ffff;
  padding-left: 210px;
  margin-top: -30px;
  font-family: Droid Serif;

}
.navbar-na{
  color: #fff;
  border-right: 1px #e86f67;
}
.first_font{
 font-size: 70px;
 padding-left: 200PX;
font-family: Droid Serif;
    color: #2A363B;
}
.bg-light {
    background-color: #1a1b1c!important;
}
.container{
  box-sizing: border-box;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffff;
}
.navbar-light .navbar-brand {
    color: #ffff;
}
  .navbar-brand {
    display: inline-block;
  padding-left: 200px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    border-right: 1px #e86f67;
  }

  .text-dark {
    color: #ffff!important;
}
.text-dark ul {
  color: #ffff!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #ffff;
}
.text-uppercase{
  padding-bottom: 10px;
margin: 0 0 15px 0;
color: #e86f67;
font-size: 18px;
text-transform: uppercase;
border-bottom: 1px dashed #e86f67;
font-weight: normal;
font-family: Oswald;
}

.col-sm-8{
  border: 100px solid #f2f2f2;
}
.handlines_g{
    margin-top: 10px;
    padding-bottom: 100px;
    margin-left: 150px;
  border-width: thick;
}
.col-sm-4{
    border: 100px solid #f2f2f2;
}
.handlines_h{
    border: 1px solid #e86f67 ;
    margin-top: 10px;
    padding-bottom: 100px;
    margin-left: 150px;
  }
  .color{
    color: #ffff;
  }

.li {
    color: #ffff;
}

.social-navigation {
    background-color: #e86f67;
    border-bottom: 1px dashed #2A363B;

}

.social-navigation li a {
color: #2A363B;
}
element.style {
}
.widget-areanbt .widget, .widget-areanbt .widget a {
    color: #fff;
}
.widget-areanbt .widget {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #E0E0E0;
    background-color: #2A363B;
}
